<span class="display:none;" id="messageType">@TempData["MessageType"]</span>
<span class="display:none;" id="message">@TempData["Message"]</span>

@section Scripts{
    <script>
        $(function () {
            var message = document.getElementById("messageType").text;
            var message = document.getElementById("message").text;
            if (messageType != null && message != "") {
                if (messageType == "success")
                    toastr.success(message, "Success Message");
                else if (messageType == "danger")
                    toastr.danger(message, "Error Message");
                else if (messageType == "info")
                    toastr.info(message, "Information Message");
                else if (messageType == "warning")
                    toastr.warning(message, "Warning Message");
            }
        });
    </script>
}